In [138]:
import pandas as pd 
import numpy as np 

urban_rural_county = pd.read_csv('./urban_rural_by_county.csv', header=1)
urban_rural_county.columns = urban_rural_county.columns.str.replace('!', '')
urban_rural_county.columns = urban_rural_county.columns.str.replace(':', '')
urban_rural_county.columns = urban_rural_county.columns.str.replace(' ', '')
urban_rural_county = urban_rural_county[['Geography','Total','TotalUrban','TotalRural']]
urban_rural_county['Fips'] = urban_rural_county['Geography'].str[-5:]

urban_rural_county['urb_pct'] = urban_rural_county['TotalUrban'] / urban_rural_county['Total']
urban_rural_county['rural_pct'] = urban_rural_county['TotalRural'] / urban_rural_county['Total']
urban_rural_county = urban_rural_county[['Fips', 'urb_pct', 'rural_pct']]
urban_rural_county

       Fips   urb_pct  rural_pct
0     01001  0.589692   0.410308
1     01003  0.671843   0.328157
2     01005  0.351179   0.648821
3     01007  0.000000   1.000000
4     01009  0.092803   0.907197
...     ...       ...        ...
3216  72145  0.943974   0.056026
3217  72147  0.788422   0.211578
3218  72149  0.821070   0.178930
3219  72151  0.830288   0.169712
3220  72153  0.827941   0.172059

[3221 rows x 3 columns]

In [139]:
total_housing_data = pd.read_csv('./total_housing_data_county.csv', header=1)
#total_housing_data
#useless data, in urb/rural data

In [140]:
occ_status = pd.read_csv('./occupancy_status_county.csv', header=1)
occ_status.columns = occ_status.columns.str.replace('!', '')
occ_status.columns = occ_status.columns.str.replace(':', '')
occ_status.columns = occ_status.columns.str.replace(' ', '')
occ_status = occ_status[['Geography','Total','TotalOccupied','TotalVacant']]
occ_status['Fips'] = occ_status['Geography'].str[-5:]
occ_status['occupied_pct'] = occ_status['TotalOccupied'] / occ_status['Total']
occ_status['vacant_pct'] = occ_status['TotalVacant'] / occ_status['Total']

occ_status = occ_status[['Fips', 'occupied_pct', 'vacant_pct']]
occ_status

census_data1 = pd.merge(urban_rural_county, occ_status, on='Fips')
census_data1

       Fips   urb_pct  rural_pct  occupied_pct  vacant_pct
0     01001  0.589692   0.410308      0.920411    0.079589
1     01003  0.671843   0.328157      0.750040    0.249960
2     01005  0.351179   0.648821      0.832932    0.167068
3     01007  0.000000   1.000000      0.880582    0.119418
4     01009  0.092803   0.907197      0.908415    0.091585
...     ...       ...        ...           ...         ...
3216  72145  0.943974   0.056026      0.833010    0.166990
3217  72147  0.788422   0.211578      0.669244    0.330756
3218  72149  0.821070   0.178930      0.900169    0.099831
3219  72151  0.830288   0.169712      0.857033    0.142967
3220  72153  0.827941   0.172059      0.825833    0.174167

[3221 rows x 5 columns]

In [141]:
housing_type_county = pd.read_csv('./housing_type_rename.csv', header=1)
housing_type_county.columns = housing_type_county.columns.str.replace('!', '')
housing_type_county.columns = housing_type_county.columns.str.replace(':', '')
housing_type_county.columns = housing_type_county.columns.str.replace(' ', '')
housing_type_county.columns
housing_type_county = housing_type_county[['Geography','Total', 'TotalFamilyhouseholds', 'TotalFamilyhouseholdsMarriedcouplefamily',
       'TotalFamilyhouseholdsOtherfamily',
       'TotalFamilyhouseholdsOtherfamilyMalehouseholder,nospousepresent',
       'TotalFamilyhouseholdsOtherfamilyFemalehouseholder,nospousepresent',
       'TotalNonfamilyhouseholds','TotalNonfamilyhouseholdsHouseholderlivingalone',
       'TotalNonfamilyhouseholdsHouseholdernotlivingalone']]
housing_type_county['Fips'] = housing_type_county['Geography'].str[-5:]
housing_type_county['pct_family_households'] = housing_type_county['TotalFamilyhouseholds'] / housing_type_county['Total']
housing_type_county['pct_non_family_households'] = housing_type_county['TotalFamilyhouseholdsMarriedcouplefamily'] / housing_type_county['Total']

housing_type_county = housing_type_county[['Fips', 'pct_family_households', 'pct_non_family_households']]

housing_chars_merge = pd.merge(census_data1, housing_type_county, on='Fips', how='outer')

housing_chars_merge

,Fips,urb_pct,rural_pct,occupied_pct,vacant_pct,pct_family_households,pct_non_family_households
0,01001,0.589692,0.410308,0.920411,0.079589,0.719436,0.519588
1,01003,0.671843,0.328157,0.750040,0.249960,0.689699,0.528234
2,01005,0.351179,0.648821,0.832932,0.167068,0.628707,0.370879
3,01007,0.000000,1.000000,0.880582,0.119418,0.682478,0.483663
4,01009,0.092803,0.907197,0.908415,0.091585,0.727634,0.561676
...,...,...,...,...,...,...,...
3216,72145,0.943974,0.056026,0.833010,0.166990,0.703685,0.408396
3217,72147,0.788422,0.211578,0.669244,0.330756,0.621302,0.326289
3218,72149,0.821070,0.178930,0.900169,0.099831,0.744399,0.441858
3219,72151,0.830288,0.169712,0.857033,0.142967,0.695123,0.415652
3220,72153,0.827941,0.172059,0.825833,0.174167,0.694850,0.425518

In [142]:
housing_chars_county = pd.read_csv('./housing_chars_county.csv', header=1)
housing_chars_county = housing_chars_county.loc[:,~housing_chars_county.columns.str.contains('Annotation ')]
housing_chars_county = housing_chars_county.loc[:,~housing_chars_county.columns.str.contains('Margin of Error')]
housing_chars_county = housing_chars_county[['Geography', 'Geographic Area Name', 'Estimate!!HOUSING OCCUPANCY!!Total housing units!!Homeowner vacancy rate', 'Estimate!!HOUSING OCCUPANCY!!Total housing units!!Rental vacancy rate', 
'Estimate!!ROOMS!!Total housing units!!Median rooms', 'Estimate!!VALUE!!Owner-occupied units!!Median (dollars)', 'Percent!!HOUSING OCCUPANCY!!Total housing units!!Occupied housing units', 'Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 2020 or later', 
'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 2010 to 2019', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 2000 to 2009', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1990 to 1999', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1980 to 1989', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1970 to 1979', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1960 to 1969', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1950 to 1959', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1940 to 1949', 'Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 1939 or earlier', 
'Percent!!ROOMS!!Total housing units!!1 room', 'Percent!!ROOMS!!Total housing units!!2 rooms', 'Percent!!ROOMS!!Total housing units!!3 rooms', 'Percent!!ROOMS!!Total housing units!!4 rooms', 'Percent!!ROOMS!!Total housing units!!5 rooms', 'Percent!!ROOMS!!Total housing units!!6 rooms', 'Percent!!ROOMS!!Total housing units!!7 rooms', 'Percent!!ROOMS!!Total housing units!!8 rooms', 'Percent!!ROOMS!!Total housing units!!9 rooms or more', 'Percent!!BEDROOMS!!Total housing units', 'Percent!!BEDROOMS!!Total housing units!!No bedroom', 'Percent!!BEDROOMS!!Total housing units!!1 bedroom', 'Percent!!BEDROOMS!!Total housing units!!2 bedrooms', 'Percent!!BEDROOMS!!Total housing units!!3 bedrooms', 'Percent!!BEDROOMS!!Total housing units!!4 bedrooms', 'Percent!!BEDROOMS!!Total housing units!!5 or more bedrooms', 
'Percent!!HOUSING TENURE!!Occupied housing units!!Owner-occupied', 'Percent!!HOUSING TENURE!!Occupied housing units!!Renter-occupied', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 2021 or later', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 2018 to 2020', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 2010 to 2017', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 2000 to 2009', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 1990 to 1999', 'Percent!!YEAR HOUSEHOLDER MOVED INTO UNIT!!Occupied housing units!!Moved in 1989 and earlier', 
'Percent!!VEHICLES AVAILABLE!!Occupied housing units!!No vehicles available', 'Percent!!VEHICLES AVAILABLE!!Occupied housing units!!1 vehicle available', 'Percent!!VEHICLES AVAILABLE!!Occupied housing units!!2 vehicles available', 'Percent!!VEHICLES AVAILABLE!!Occupied housing units!!3 or more vehicles available', 
'Percent!!SELECTED CHARACTERISTICS!!Occupied housing units', 'Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities', 'Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities', 'Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available',
'Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units with a mortgage', 'Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units without a mortgage', ]]
                                             
                                             
                                             
                                             
                                             
                                         
housing_chars_county

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (290,291,292,293,402,403,404,405,434,435,436,437,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,862,863,864,865,1114,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Geography,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units!!Homeowner vacancy rate,Estimate!!HOUSING OCCUPANCY!!Total housing units!!Rental vacancy rate,Estimate!!ROOMS!!Total housing units!!Median rooms,Estimate!!VALUE!!Owner-occupied units!!Median (dollars),Percent!!HOUSING OCCUPANCY!!Total housing units!!Occupied housing units,Percent!!HOUSING OCCUPANCY!!Total housing units!!Vacant housing units,Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 2020 or later,Percent!!YEAR STRUCTURE BUILT!!Total housing units!!Built 2010 to 2019,...,Percent!!VEHICLES AVAILABLE!!Occupied housing units!!No vehicles available,Percent!!VEHICLES AVAILABLE!!Occupied housing units!!1 vehicle available,Percent!!VEHICLES AVAILABLE!!Occupied housing units!!2 vehicles available,Percent!!VEHICLES AVAILABLE!!Occupied housing units!!3 or more vehicles available,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available,Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units with a mortgage,Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units without a mortgage
0,0500000US01003,"Baldwin County, Alabama",0.1,12.1,5.7,304600,74.7,25.3,5.6,15.8,...,2.9,30.1,41.0,26.0,98854,0.8,1.2,1.3,59.1,40.9
1,0500000US01015,"Calhoun County, Alabama",1.0,4.3,5.8,148100,85.6,14.4,0.6,5.9,...,5.2,29.5,39.8,25.5,45701,0.5,0.8,1.0,44.8,55.2
2,0500000US01043,"Cullman County, Alabama",0.9,3.2,5.7,184800,90.2,9.8,2.7,12.7,...,3.1,26.5,32.7,37.7,35966,0,1.7,1.4,49.8,50.2
3,0500000US01049,"DeKalb County, Alabama",0.7,1.6,5.8,157700,85.3,14.7,0.6,8.0,...,5.5,26.4,36.0,32.1,26459,0.2,0.3,0.9,40.6,59.4
4,0500000US01051,"Elmore County, Alabama",0.2,7.8,6.1,204700,91.1,8.9,3.1,20.1,...,2.5,27.9,42.1,27.5,34061,0.6,0.5,N,60.3,39.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,0500000US72113,"Ponce Municipio, Puerto Rico",0.8,3.9,4.4,95000,80.5,19.5,0.2,1.6,...,15.8,45.3,27.0,11.8,54689,1.2,1.1,0.8,25.3,74.7
844,0500000US72127,"San Juan Municipio, Puerto Rico",1.6,4.8,4.5,164900,80.3,19.7,0.0,3.1,...,21.7,47.2,22.2,9.0,158386,0.5,2.6,5.6,47.8,52.2
845,0500000US72135,"Toa Alta Municipio, Puerto Rico",1.1,1.5,5.2,174400,86.9,13.1,0.0,6.2,...,3.4,26.7,41.7,28.2,23703,0.5,1.9,1.9,N,N
846,0500000US72137,"Toa Baja Municipio, Puerto Rico",2.9,4.7,4.9,138800,79.2,20.8,0.0,3.6,...,10.6,36.5,33.1,19.8,28722,3.7,1.8,0.9,N,N
847,0500000US72139,"Trujillo Alto Municipio, Puerto Rico",0.1,1.6,5.1,164400,93.6,6.4,0.0,1.8,...,11.4,38.7,32.9,17.0,29677,0.0,3.8,5.4,N,N

In [143]:
housing_chars_county.columns = housing_chars_county.columns.str.replace('!', '')
housing_chars_county.columns = housing_chars_county.columns.str.replace(':', '')
#housing_chars_county.columns = housing_chars_county.columns.str.replace(' ', '')
housing_chars_county['Fips'] = housing_chars_county['Geography'].str[-5:]

#housing_chars_county_final = pd.merge(housing_chars_county, urban_rural_county, on='Fips', how='outer')
#housing_chars_county_final = housing_chars_county_final.dropna(subset=['Geography'])
housing_chars_county_final

,Geography,Geographic Area Name,EstimateHOUSING OCCUPANCYTotal housing unitsHomeowner vacancy rate,EstimateHOUSING OCCUPANCYTotal housing unitsRental vacancy rate,EstimateROOMSTotal housing unitsMedian rooms,EstimateVALUEOwner-occupied unitsMedian (dollars),PercentHOUSING OCCUPANCYTotal housing unitsOccupied housing units,PercentHOUSING OCCUPANCYTotal housing unitsVacant housing units,PercentYEAR STRUCTURE BUILTTotal housing unitsBuilt 2020 or later,PercentYEAR STRUCTURE BUILTTotal housing unitsBuilt 2010 to 2019,...,PercentVEHICLES AVAILABLEOccupied housing units3 or more vehicles available,PercentSELECTED CHARACTERISTICSOccupied housing units,PercentSELECTED CHARACTERISTICSOccupied housing unitsLacking complete plumbing facilities,PercentSELECTED CHARACTERISTICSOccupied housing unitsLacking complete kitchen facilities,PercentSELECTED CHARACTERISTICSOccupied housing unitsNo telephone service available,PercentMORTGAGE STATUSOwner-occupied unitsHousing units with a mortgage,PercentMORTGAGE STATUSOwner-occupied unitsHousing units without a mortgage,Fips,urb_pct,rural_pct
0,0500000US01003,"Baldwin County, Alabama",0.1,12.1,5.7,304600.0,74.7,25.3,5.6,15.8,...,26.0,98854.0,0.8,1.2,1.3,59.1,40.9,01003,0.671843,0.328157
1,0500000US01015,"Calhoun County, Alabama",1.0,4.3,5.8,148100.0,85.6,14.4,0.6,5.9,...,25.5,45701.0,0.5,0.8,1.0,44.8,55.2,01015,0.644707,0.355293
2,0500000US01043,"Cullman County, Alabama",0.9,3.2,5.7,184800.0,90.2,9.8,2.7,12.7,...,37.7,35966.0,0,1.7,1.4,49.8,50.2,01043,0.242687,0.757313
3,0500000US01049,"DeKalb County, Alabama",0.7,1.6,5.8,157700.0,85.3,14.7,0.6,8.0,...,32.1,26459.0,0.2,0.3,0.9,40.6,59.4,01049,0.109044,0.890956
4,0500000US01051,"Elmore County, Alabama",0.2,7.8,6.1,204700.0,91.1,8.9,3.1,20.1,...,27.5,34061.0,0.6,0.5,N,60.3,39.7,01051,0.286382,0.713618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72145,0.943974,0.056026
3226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72147,0.788422,0.211578
3227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72149,0.821070,0.178930
3228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72151,0.830288,0.169712
3229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72153,0.827941,0.172059

In [144]:
housing_chars_county_final.to_csv('housing_chars_county_census.csv')

In [145]:
#bring in county realtor data 
county_realt = pd.read_csv('./RDC_Inventory_Core_Metrics_County_History.csv')
county_realt = county_realt[:-1]
county_realt['county_fips'] = county_realt['county_fips'].astype(str)
county_realt['county_fips'] = county_realt['county_fips'].str.rjust(5, "0")
#county_realt['county_fips'] = county_realt['county_fips'].apply(lambda x: x.astype(str).zfill(5))
#county_realt['four_dig'] = np.where((county_realt['county_fips'].str.len() == 4) | 
                            #(county_realt['county_fips'].str.len() == 5), '0', '')


county_realt

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202309,21017,"bourbon, ky",289000.0,-0.1830,0.0511,36.0,0.2632,-0.0649,33.0,...,571741.0,-0.1079,-0.1101,62.0,0.1698,-0.0882,0.7222,-0.1023,-0.0440,0.0
1,202309,37071,"gaston, nc",349800.0,0.0155,0.0616,448.0,0.0641,-0.0154,41.0,...,412971.0,0.0253,0.1193,823.0,0.0668,-0.0981,0.8348,-0.0013,-0.1674,0.0
2,202309,54071,"pendleton, wv",265000.0,0.0999,0.3988,21.0,-0.0233,-0.2759,75.0,...,314283.0,0.0345,0.1667,27.0,-0.0182,-0.2603,0.3333,0.0310,0.0747,0.0
3,202309,48419,"shelby, tx",227000.0,-0.0377,0.0146,47.0,0.1190,0.5410,56.0,...,356752.0,-0.0532,0.4599,54.0,0.2135,0.1489,0.1489,0.0775,-0.3920,1.0
4,202309,18055,"greene, in",243500.0,0.0074,0.0602,63.0,0.0161,0.0500,49.0,...,259356.0,0.0217,-0.0105,96.0,0.0213,0.1294,0.4921,-0.0079,0.0754,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269823,201607,26029,"charlevoix, mi",251000.0,NaN,NaN,538.0,NaN,NaN,71.0,...,522277.0,NaN,NaN,538.0,NaN,NaN,0.0019,NaN,NaN,NaN
269824,201607,13237,"putnam, ga",289000.0,NaN,NaN,543.0,NaN,NaN,103.0,...,377102.0,NaN,NaN,592.0,NaN,NaN,0.0994,NaN,NaN,NaN
269825,201607,37125,"moore, nc",286000.0,NaN,NaN,1246.0,NaN,NaN,86.0,...,357796.0,NaN,NaN,1502.0,NaN,NaN,0.2119,NaN,NaN,NaN
269826,201607,21045,"casey, ky",150000.0,NaN,NaN,18.0,NaN,NaN,117.0,...,188015.0,NaN,NaN,19.0,NaN,NaN,0.1111,NaN,NaN,NaN
269827,201607,30103,"treasure, mt",49950.0,NaN,NaN,3.0,NaN,NaN,16.0,...,58425.0,NaN,NaN,3.0,NaN,NaN,0.3333,NaN,NaN,NaN

In [146]:
county_realt_census = pd.merge(county_realt, housing_chars_merge, left_on='county_fips', right_on='Fips', how='outer')
county_realt_census = county_realt_census[county_realt_census['county_fips'].notna()]
#county_realt_census.to_csv('realtor_census_merge.csv')

len(county_realt_census['month_date_yyyymm'][1])

TypeError: object of type 'int' has no len()

In [147]:
import requests 
import pandas as pd 

  

API_KEY = '6bf8895c846d89aeaec6a40b739746ce' 
endpoint = 'https://api.stlouisfed.org/fred/series/observations' 
series_id = 'FEDFUNDS' 
start_date = 'Start' 
end_date = 'End'

  
response = requests.get(endpoint, params={ 
    'series_id': series_id, 
    'api_key': API_KEY, 
    'file_type': 'json', 
    'start_date': start_date, 
    'end_date': end_date, 

}) 

  

data = response.json() 
df = pd.DataFrame(data['observations']) 
df
#df.to_csv(‘path/i_rates.csv’)

    realtime_start realtime_end        date value
0       2023-10-30   2023-10-30  1954-07-01  0.80
1       2023-10-30   2023-10-30  1954-08-01  1.22
2       2023-10-30   2023-10-30  1954-09-01  1.07
3       2023-10-30   2023-10-30  1954-10-01  0.85
4       2023-10-30   2023-10-30  1954-11-01  0.83
..             ...          ...         ...   ...
826     2023-10-30   2023-10-30  2023-05-01  5.06
827     2023-10-30   2023-10-30  2023-06-01  5.08
828     2023-10-30   2023-10-30  2023-07-01  5.12
829     2023-10-30   2023-10-30  2023-08-01  5.33
830     2023-10-30   2023-10-30  2023-09-01  5.33

[831 rows x 4 columns]

In [148]:
df[df['date']=='2016-07-01']

    realtime_start realtime_end        date value
744     2023-10-30   2023-10-30  2016-07-01  0.39

In [149]:
irates_merge=df[744:831]
irates_merge=irates_merge[['date', 'value']]
irates_merge = irates_merge.rename(columns={'value':'int_rate'})
irates_merge['month_yr'] = irates_merge['date'].str[:7]
irates_merge['month_yr'] = irates_merge['month_yr'].str.replace('-', '')
irates_merge=irates_merge[['month_yr', 'int_rate']]
len(irates_merge['month_yr'][830])

6

In [150]:
county_realt_census['month_date_yyyymm'] = county_realt_census['month_date_yyyymm'].astype(str)
#df.column_name = df.column_name.astype(str)
county_realt_census_irates = pd.merge(county_realt_census, irates_merge, left_on='month_date_yyyymm', right_on='month_yr', how='outer')
county_realt_census_irates

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,quality_flag,Fips,urb_pct,rural_pct,occupied_pct,vacant_pct,pct_family_households,pct_non_family_households,month_yr,int_rate
0,202309,21017,"bourbon, ky",289000.0,-0.1830,0.0511,36.0,0.2632,-0.0649,33.0,...,0.0,21017,0.559811,0.440189,0.902107,0.097893,0.664964,0.453528,202309,5.33
1,202309,37071,"gaston, nc",349800.0,0.0155,0.0616,448.0,0.0641,-0.0154,41.0,...,0.0,37071,0.810080,0.189920,0.925236,0.074764,0.669556,0.455754,202309,5.33
2,202309,54071,"pendleton, wv",265000.0,0.0999,0.3988,21.0,-0.0233,-0.2759,75.0,...,0.0,54071,0.000000,1.000000,0.743590,0.256410,0.636097,0.502201,202309,5.33
3,202309,48419,"shelby, tx",227000.0,-0.0377,0.0146,47.0,0.1190,0.5410,56.0,...,1.0,48419,0.198862,0.801138,0.815149,0.184851,0.682350,0.487056,202309,5.33
4,202309,18055,"greene, in",243500.0,0.0074,0.0602,63.0,0.0161,0.0500,49.0,...,0.0,18055,0.182916,0.817084,0.890083,0.109917,0.668183,0.506743,202309,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269823,201607,02282,"yakutat, ak",179900.0,NaN,NaN,5.0,NaN,NaN,182.0,...,NaN,02282,0.000000,1.000000,0.600907,0.399093,0.592453,0.381132,201607,0.39
269824,201607,48173,"glasscock, tx",381000.0,NaN,NaN,2.0,NaN,NaN,73.0,...,NaN,48173,0.000000,1.000000,0.815238,0.184762,0.794393,0.675234,201607,0.39
269825,201607,28055,"issaquena, ms",149000.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,28055,0.000000,1.000000,0.838269,0.161731,0.660326,0.396739,201607,0.39
269826,201607,38085,"sioux, nd",120000.0,NaN,NaN,0.0,NaN,NaN,80.0,...,NaN,38085,0.000000,1.000000,0.863743,0.136257,0.717135,0.262013,201607,0.39
269827,201607,51595,"emporia city, va",69900.0,NaN,NaN,1.0,NaN,NaN,24.0,...,NaN,51595,0.944088,0.055912,0.878353,0.121647,0.588817,0.270108,201607,0.39

In [151]:
cci_data = pd.read_csv('./us_cci_data.csv')
cci_data = cci_data[['TIME', 'Value']]
cci_data['month_yr'] = cci_data['TIME'].str.replace('-', '')
cci_data = cci_data[['month_yr', 'Value']]
cci_data = cci_data.rename(columns={'Value':'cci_value'})
cci_data

   month_yr  cci_value
0    201607  100.60660
1    201608  100.49880
2    201609  100.47930
3    201610  100.55750
4    201611  100.89250
..      ...        ...
82   202305   97.21225
83   202306   97.50813
84   202307   97.87399
85   202308   98.00307
86   202309   97.99882

[87 rows x 2 columns]

In [152]:
final_merge = pd.merge(county_realt_census_irates, cci_data, on='month_yr')
final_merge

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,Fips,urb_pct,rural_pct,occupied_pct,vacant_pct,pct_family_households,pct_non_family_households,month_yr,int_rate,cci_value
0,202309,21017,"bourbon, ky",289000.0,-0.1830,0.0511,36.0,0.2632,-0.0649,33.0,...,21017,0.559811,0.440189,0.902107,0.097893,0.664964,0.453528,202309,5.33,97.99882
1,202309,37071,"gaston, nc",349800.0,0.0155,0.0616,448.0,0.0641,-0.0154,41.0,...,37071,0.810080,0.189920,0.925236,0.074764,0.669556,0.455754,202309,5.33,97.99882
2,202309,54071,"pendleton, wv",265000.0,0.0999,0.3988,21.0,-0.0233,-0.2759,75.0,...,54071,0.000000,1.000000,0.743590,0.256410,0.636097,0.502201,202309,5.33,97.99882
3,202309,48419,"shelby, tx",227000.0,-0.0377,0.0146,47.0,0.1190,0.5410,56.0,...,48419,0.198862,0.801138,0.815149,0.184851,0.682350,0.487056,202309,5.33,97.99882
4,202309,18055,"greene, in",243500.0,0.0074,0.0602,63.0,0.0161,0.0500,49.0,...,18055,0.182916,0.817084,0.890083,0.109917,0.668183,0.506743,202309,5.33,97.99882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269823,201607,02282,"yakutat, ak",179900.0,NaN,NaN,5.0,NaN,NaN,182.0,...,02282,0.000000,1.000000,0.600907,0.399093,0.592453,0.381132,201607,0.39,100.60660
269824,201607,48173,"glasscock, tx",381000.0,NaN,NaN,2.0,NaN,NaN,73.0,...,48173,0.000000,1.000000,0.815238,0.184762,0.794393,0.675234,201607,0.39,100.60660
269825,201607,28055,"issaquena, ms",149000.0,NaN,NaN,1.0,NaN,NaN,NaN,...,28055,0.000000,1.000000,0.838269,0.161731,0.660326,0.396739,201607,0.39,100.60660
269826,201607,38085,"sioux, nd",120000.0,NaN,NaN,0.0,NaN,NaN,80.0,...,38085,0.000000,1.000000,0.863743,0.136257,0.717135,0.262013,201607,0.39,100.60660
269827,201607,51595,"emporia city, va",69900.0,NaN,NaN,1.0,NaN,NaN,24.0,...,51595,0.944088,0.055912,0.878353,0.121647,0.588817,0.270108,201607,0.39,100.60660

In [153]:
final_df = final_merge.drop(columns=['Fips', 'month_yr'])

final_df = final_df.rename(columns={'month_date_yyyymm':'year_month'})
#final_df.to_csv('realtor_data_final_merge.csv')

In [184]:
realtor_hr = pd.read_csv('./RDC_Inventory_Hotness_Metrics_County_History.csv')
realtor_hr = final_df_hr.rename(columns={'month_date_yyyymm':'year_month'})

realtor_hr = realtor_hr[:-1]
realtor_hr['county_fips'] = realtor_hr['county_fips'].astype(str)
realtor_hr['county_fips'] = realtor_hr['county_fips'].str.rjust(5, "0")

#realtor_hr.columns
realtor_hr['year_month'] = realtor_hr['year_month'].astype(str)
realtor_hr[realtor_hr['county_name']=='los angeles, ca']

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,year_month,county_fips,county_name,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_vs_us
1017,202309,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,1018.0,71.0,-129.0,38.927227,53.199498,24.654956,-2.0,-0.070114,0.010897,0.821491,2.558789
2541,202308,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,947.0,-26.0,-184.0,42.879548,61.355082,24.404015,-4.0,-0.082558,-0.004926,0.819771,2.522678
4162,202307,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,973.0,16.0,-158.0,41.405270,57.214555,25.595985,-3.0,-0.008645,0.022919,0.836958,2.500000
5741,202306,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,957.0,31.0,-232.0,42.189460,56.838143,27.540778,-3.5,-0.036347,-0.034609,0.870415,2.471910
7305,202305,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,926.0,-1.0,-213.0,43.632371,58.720201,28.544542,-3.5,-0.083200,-0.114872,0.888627,2.490684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110100,201712,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,46.0,-11.0,NaN,93.475533,98.055207,88.895859,-28.0,0.019561,NaN,1.467832,2.685810
111706,201711,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,57.0,-12.0,NaN,92.691343,98.870765,86.511920,-29.0,0.018461,NaN,1.391771,2.643753
113313,201710,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,69.0,-7.0,NaN,91.656211,98.055207,85.257215,-29.0,0.024893,NaN,1.355262,2.627273
114915,201709,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,76.0,-2.0,NaN,91.028858,97.365119,84.692597,-26.0,-0.095827,NaN,1.368829,2.600000
116512,201708,06037,"los angeles, ca",31080.0,"Los Angeles-Long Beach-Anaheim, CA",1.0,78.0,NaN,NaN,91.405270,96.800502,86.010038,-23.5,NaN,NaN,1.374221,2.625455

In [185]:
# drop 'median_listing_price','median_listing_price_mm', 'median_listing_price_yy', 
# 'median_days_on_market', 'median_days_on_market_mm','median_dom_mm_day', 
#'median_days_on_market_yy', 'median_dom_yy_day','quality_flag' 
realtor_hr = realtor_hr.drop(columns=['median_listing_price','median_listing_price_mm', 'median_listing_price_yy', 'median_days_on_market', 'median_days_on_market_mm','median_dom_mm_day', 'median_days_on_market_yy', 'median_dom_yy_day','quality_flag'])
                    
final_realt = pd.merge(final_df, realtor_hr, on=['year_month','county_fips', 'county_name'], how='outer')
final_realt#.columns

,year_month,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_vs_us
0,202309,21017,"bourbon, ky",289000.0,-0.1830,0.0511,36.0,0.2632,-0.0649,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202309,37071,"gaston, nc",349800.0,0.0155,0.0616,448.0,0.0641,-0.0154,41.0,...,108.0,46.0,57.936010,70.514429,45.357591,-7.5,-0.071968,-0.035444,1.078372,0.814435
2,202309,54071,"pendleton, wv",265000.0,0.0999,0.3988,21.0,-0.0233,-0.2759,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,202309,48419,"shelby, tx",227000.0,-0.0377,0.0146,47.0,0.1190,0.5410,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202309,18055,"greene, in",243500.0,0.0074,0.0602,63.0,0.0161,0.0500,49.0,...,380.0,-243.0,37.233375,47.365119,27.101631,0.5,-0.104019,-0.161589,0.849728,0.566938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269823,201607,02282,"yakutat, ak",179900.0,NaN,NaN,5.0,NaN,NaN,182.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269824,201607,48173,"glasscock, tx",381000.0,NaN,NaN,2.0,NaN,NaN,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269825,201607,28055,"issaquena, ms",149000.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269826,201607,38085,"sioux, nd",120000.0,NaN,NaN,0.0,NaN,NaN,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269827,201607,51595,"emporia city, va",69900.0,NaN,NaN,1.0,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
final_realt[final_realt['county_name']=='los angeles, ca']
#final_v2 = final_realt[final_realt['county_name_x'].notna()]

,year_month,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_vs_us
2134,202309,06037,"los angeles, ca",1099000.0,0.0005,0.2225,8284.0,0.0228,-0.2337,46.0,...,71.0,-129.0,38.927227,53.199498,24.654956,-2.0,-0.070114,0.010897,0.821491,2.558789
5239,202308,06037,"los angeles, ca",1098500.0,-0.0014,0.2209,8099.0,0.0606,-0.2677,42.0,...,-26.0,-184.0,42.879548,61.355082,24.404015,-4.0,-0.082558,-0.004926,0.819771,2.522678
8348,202307,06037,"los angeles, ca",1100000.0,0.0000,0.1970,7636.0,0.0391,-0.2878,42.0,...,16.0,-158.0,41.405270,57.214555,25.595985,-3.0,-0.008645,0.022919,0.836958,2.500000
11459,202306,06037,"los angeles, ca",1100000.0,0.0005,0.1591,7349.0,0.0581,-0.1671,40.0,...,31.0,-232.0,42.189460,56.838143,27.540778,-3.5,-0.036347,-0.034609,0.870415,2.471910
14568,202305,06037,"los angeles, ca",1099500.0,0.0592,0.1728,6946.0,0.0203,-0.0640,40.0,...,-1.0,-213.0,43.632371,58.720201,28.544542,-3.5,-0.083200,-0.114872,0.888627,2.490684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256542,201611,06037,"los angeles, ca",674847.0,NaN,NaN,13326.0,NaN,NaN,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259618,201610,06037,"los angeles, ca",675000.0,NaN,NaN,14130.0,NaN,NaN,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262700,201609,06037,"los angeles, ca",675000.0,NaN,NaN,14297.0,NaN,NaN,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265778,201608,06037,"los angeles, ca",679950.0,NaN,NaN,14426.0,NaN,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268859,201607,06037,"los angeles, ca",699000.0,NaN,NaN,14257.0,NaN,NaN,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
#read in county population data 
#https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
fips_pop = pd.read_csv('./county_PopulationEstimates.csv')
fips_pop['county_fips'] = fips_pop['county_fips'].astype(str)
fips_pop['county_fips'] = fips_pop['county_fips'].str.rjust(5, "0")
fips_pop=fips_pop[1:3283]
fips_pop =fips_pop.replace(',','', regex=True)
fips_pop

     county_fips POP_ESTIMATE_2022
1          01000           5074296
2          01001             59759
3          01003            246435
4          01005             24706
5          01007             22005
...          ...               ...
3278       72145             53684
3279       72147              8043
3280       72149             21466
3281       72151             29305
3282       72153             32904

[3282 rows x 2 columns]

In [197]:
final_realtor_wPop = pd.merge(final_realt,fips_pop, on='county_fips', how='outer')
final_realtor_wPop = final_realtor_wPop[final_realtor_wPop['year_month'].notna()]
final_realtor_wPop

,year_month,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,hotness_rank_yy,hotness_score,supply_score,demand_score,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_vs_us,POP_ESTIMATE_2022
0,202309,21017,"bourbon, ky",289000.0,-0.1830,0.0511,36.0,0.2632,-0.0649,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20093
1,202308,21017,"bourbon, ky",353750.0,-0.0294,0.2659,29.0,0.0962,-0.3214,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20093
2,202307,21017,"bourbon, ky",364450.0,0.1434,0.3063,26.0,0.0000,-0.2571,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20093
3,202306,21017,"bourbon, ky",318750.0,-0.0191,-0.1767,26.0,0.2683,-0.2464,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20093
4,202305,21017,"bourbon, ky",324950.0,-0.0713,0.3928,21.0,-0.0682,-0.2679,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269823,201802,48269,"king, tx",701960.0,0.0000,NaN,1.0,0.0000,NaN,111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233
269824,201801,48269,"king, tx",701960.0,0.0000,NaN,1.0,0.0000,NaN,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233
269825,201712,48269,"king, tx",701960.0,0.0000,NaN,1.0,0.0000,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233
269826,201711,48269,"king, tx",701960.0,0.0000,NaN,1.0,0.0000,NaN,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233
269827,201710,48269,"king, tx",701960.0,NaN,NaN,1.0,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233

In [198]:
final_realtor_wPop.to_csv('all_realtor_wPop.csv')